 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/3GYGQgtksKQ.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 295px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-style: italic;
  margin: 23px auto 60px 218px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-left: 103px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 665px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 549px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  margin: 12px auto 0 8px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  margin: 78px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 544px;
  background-image: url("images/imgonline-com-ua-Black-White-IGrrSRuuFu.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 28px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-2 .u-image-1 {
    min-height: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1356px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 499px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1171px;
  }

  .u-section-2 .u-image-1 {
    min-height: 314px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 797px;
}

.u-section-3 .u-gallery-1 {
  height: 757px;
  grid-gap: 10px 10px;
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: -429px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: -216px;
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: -178px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    height: 428px;
    margin-top: -61px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1440px;
}

.u-section-4 .u-image-1 {
  width: 932px;
  height: 699px;
  object-position: 50% 100%;
  background-position: 50% 100%;
  filter: brightness(0.8);
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 864px;
  height: 486px;
  object-position: 50% 0%;
  background-position: 50% 100%;
  margin: -434px -17px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 820px;
  min-height: 465px;
  background-image: linear-gradient(white, #db545a);
  margin: -88px auto 60px 56px;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px;
}

.u-section-4 .u-text-1 {
  margin: 64px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 107px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 662px;
    height: 644px;
    margin-top: -80px;
    margin-left: -28px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -413px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -29px;
    margin-left: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-4 .u-image-1 {
    width: 508px;
    height: 482px;
    margin-top: 32px;
    margin-left: -30px;
  }

  .u-section-4 .u-image-2 {
    width: 420px;
    height: 381px;
    margin-top: -332px;
    margin-right: 103px;
  }

  .u-section-4 .u-group-1 {
    width: 566px;
    margin-top: -80px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-4 .u-image-1 {
    width: 388px;
    height: 420px;
    margin-right: 332px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 360px;
    height: 309px;
    margin-top: -182px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 437px;
    min-height: 503px;
    margin-top: -63px;
    margin-left: 11px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1063px;
  }

  .u-section-4 .u-image-1 {
    height: 366px;
    margin-top: -100px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    width: 216px;
    height: 186px;
    margin-top: -93px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 31px;
    min-height: 522px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1029px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: -213px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1272px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-image-1 {
  height: 558px;
  width: 425px;
  margin: 198px 10px 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 38px auto 0 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  margin: 20px 40px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 38px auto 0 0;
  padding: 13px 39px 14px;
}

.u-section-5 .u-image-2 {
  min-height: 554px;
  background-image: url("images/HGoXDlBQy9E.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-group-1 {
  min-height: 145px;
  margin-top: 416px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  width: 255px;
  margin: 17px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 681px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-3 {
  width: 428px;
  height: 567px;
  margin: 31px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1262px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 50px;
    padding-bottom: 63px;
  }

  .u-section-5 .u-image-1 {
    height: 440px;
    width: 335px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 591px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 671px;
  }

  .u-section-5 .u-image-3 {
    width: 346px;
    height: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 374px;
    width: 285px;
  }

  .u-section-5 .u-image-2 {
    min-height: 453px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 430px;
  }

  .u-section-5 .u-image-3 {
    width: 285px;
    height: 359px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1029px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 0;
  }

  .u-section-5 .u-image-1 {
    height: 441px;
    width: 390px;
    margin-right: 100px;
  }

  .u-section-5 .u-image-2 {
    min-height: 680px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 645px;
  }

  .u-section-5 .u-image-3 {
    width: 408px;
    height: 445px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 35px;
  }

  .u-section-5 .u-image-1 {
    height: 373px;
    width: 330px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-2 {
    min-height: 428px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 406px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 314px;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/2NcJ4HapvJ8.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 631px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 246px 65px 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  margin: 8px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 79px auto 60px;
  padding: 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 520px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 229px;
    margin-left: -43px;
    margin-right: -43px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 240px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 58px;
  }
}